#new-fighter {
    width: 70%;
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 8px #bebebe;
}

#new-fighter > :first-child {
    margin: 1rem;
}

#newFighterSpec {
    margin: 3% auto;
    width: 96%;
}

#newFighterSpec > :first-child,
#newFighterSpec > :last-child {
    margin: 3% 0 0;
}

#newFighterSpec > div {
    width: 33%;
}

.newNameFighter {
    width: 96%;
}

/*@media (max-width: 550px) {*/
/*    #newFighterSpec > div {*/
/*        width: 90%;*/
/*        margin: 3% 0;*/
/*    }*/
/*    #newFighterSpec {*/
/*        justify-content: space-around;*/
/*        flex-wrap: wrap;*/
/*    }*/
/*    .newNameFighter {*/
/*        width: 90%;*/
/*    }*/
/*}*/
