#sign-in-up {
    width: 100%;    
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-wrapper {
    background-color: #fff;
    width: 320px;
    box-shadow: 0px 1px 8px #bebebe;
}

.header {
    display: flex;
}

.header > div {
    cursor: pointer;
    width: 50%;
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    background-color: #e6e7e8;
    display: block;
    color: #666;
}

.header .active {
    opacity: 1;
    background-color: #fff;
}
