#wrapper {
    margin-top: 2rem;
}

#figh-wrapper {
    width: 70%;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    box-shadow: 0px 1px 8px #bebebe;
    justify-content: center;
}

#figh-wrapper > *:first-child, #figh-wrapper > *:last-child {
    flex: 1;
}

.btn-wrapper {
    margin: 1.5rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.spec {
    margin: 3% 0 0;
    display: flex;
    justify-content: space-around;
}

.spec > div {
    margin: 3% 1% 0;
    width: 33%;
}

.spec > :first-child,
.spec > :last-child {
    margin: 3% 0 0
}

.edit-button {
    width: 70%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 670px) and  (max-width: 900px) {
    .spec > div {
        width: 100%;
        margin: 3% 0;
    }
    .spec {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media  (max-width: 669px) {
    #figh-wrapper {
        flex-wrap: wrap;
    }
}
